<%- include('../partials/header') %>
<h2><%=title%></h2>


  	
  	<hr class="d-sm-none">
	</div>
	<div class="col-sm-8">
  	<h2>List/View</h2>



  	<p>This website will demonstrate using EJS to display a list/view from a database</p>


<%- include('../partials/footer') %>
